@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --frame: #0eff02;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5em 0;
}

.selectedUsersField {
  min-height: 20px;
}

.userListItem {
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em 0;
  padding: 1.5em;
  transition: 0.5s all ease;
}

.avatar {
  object-fit: cover;
  border-radius: 60px;
}

.infoWrapper {
  width: 450px;
}

.userName {
  font-weight: 700;
  font-size: 18px;
  /* line-height: 24px; */
}

.userMail {
  /* line-height: 24px; */
  border-bottom: 2px solid #6c3483;
}

.infoWrapper > p {
  line-height: 24px;
}

.toSelectBtn {
  font-size: 20px;
  background: none;
  border: none;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background: none;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 0.7em 1.5em;
  transition: 0.5s all ease;
}

.btn:hover {
  background: #ddd;
}

.prevBtn {
  margin-left: 1em;
}

.selectedBtn {
  color: var(--frame);
}

.selectedUser {
  box-shadow: 5px 5px black;
  transform: scale(1.1);
  transition: 0.5s all ease;
}
