@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --frame: #0eff02;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 1.5em 0;
}

.userListItem {
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
  padding: 1.5em;
  transition: 0.5s all ease;
}

.avatar {
  object-fit: cover;
  border-radius: 60px;
}

.toSelectBtn {
  background: none;
  border: none;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.selectedBtn {
  color: var(--frame);
}

.selectedUser {
  border: 3px solid var(--frame);
  transform: scale(1.1);
  transition: 0.5s all ease;
}
